#loginpage {
    background: url("../assets/backdrop2.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    color: #ffffff;
    font-family: "Raleway", Helvetica, sans-serif;
    height: 100%;
}

#loginpage a {
    color: #16aa56;
    text-decoration: none;
    text-align: center;
    font-size: large;

}
#loginpage a:hover{
    color:#1FCE6D;
}

#loginpage form{
text-align: center;
}
#loginpage input[type="text"], input[type="password"] {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}
#loginpage input[type="text"]:hover, input[type="password"]:hover,input[type="text"]:active, input[type="password"]:active{
    border-bottom: 1px solid #1FCE6D;

}
#loginpage input[type="submit"] {
    background: #1FCE6D;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#loginpage input[type="submit"]:hover {
    background: #16aa56;

}
#loginpage ::-webkit-input-placeholder {
    color: #435160;
    font-size: 15px;
}
#loginpage p{
    padding:2px 0px;
    color:#ffffff;
    opacity: 0.4;
}

#loginpage button{
    display: inline-block;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    background: #1FCE6D;
    border: 0;
    padding:6px 24px;
    border-radius: 3px;
    font-family: Arial;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

}
#loginpage button:hover{
    background: #16aa56;
}
#loginpage button:active {
    position:relative;
    top:1px;
}