body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
canvas {
  display: block;
  cursor: none;
}
.state-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  display: none;
}
#leaderboard table {
  margin: 20px auto;
  text-align: left;
  font-size: 1.5em;
}

#leaderboard table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

#leaderboard td, th {
  padding: 5px;
}

#resumepage, #gameover {
  height: 100%;
  background: black;
  color: white;
}

#resumepage div, #gameover div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#gameover p {
  font-family: Arial;
  font-size: 2.5em;
}

.blackbutton {
  margin: 0 10px;
  padding: 10px;

  font-family: sans-serif;
  font-size: 1.2em;
  color: white;

  background: black;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.1s;
}

.blackbutton:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid black;
}
